.register {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}

.register__image {
  width: 100px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}

.register__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
}

.register__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.register__container > form > h5 {
  margin-bottom: 5px;
}

.register__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
}

.register__registerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.register__registerAcc {
  background-color: tomato;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: black;
  font-weight: bold;
}

.register__signIn {
  background-color: tomato;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: black;
  font-weight: bold;
  text-decoration: none;
}

.register__signInLink {
  padding-top: 10px;
}
